body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 255)), url(shop.jpeg);
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
#contactForm{
    margin-top: 20%;
    width: 50%;
    color: aliceblue;
}
#submitButton{
    display: grid;
    place-items: center;
    margin-top: 5%;
}